*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-grey: #32de84;
  --dark-blue: #0a0a23;
  --fcc-blue: #043927;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --result-red: #ce2222;
  --light-green: #acd157;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 25px;
  background-color: var(--fcc-blue);
  color: var(--light-grey);
  margin: auto 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 125px 60px 60px 60px;
  grid-template-areas:
    'title title'
    'label input'
    'button button'
    'result result';
  row-gap: 40px;
}

.main-title {
  text-align: center;
  grid-area: title;
}

.container-enter-title {
  text-align: center;
  font-weight: bold;
  grid-area: label;
  margin-top: auto;
  margin-bottom: auto;
}

.container-enter-input {
  grid-area: input;
  background-color: transparent;
  color: var(--result-red);
  border: 2px solid #fff;
  font-size: 25px;
}

.container-enter-input:focus {
  background-color: transparent;
  color: var(--result-red);
}

.container-enter-input:focus-visible {
  background-color: transparent;
  color: var(--result-red);
}

.button {
  grid-area: button;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
  width: 30%;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.button:hover {
  background-image: linear-gradient(#ffcc4c, #f89808);
}

.output {
  grid-area: result;
  border: 2px solid var(--light-grey);
  padding: 10px 50px;
  text-align: center;
}

.hide {
  display: none;
}

.accent {
  color: var(--result-red);
}